{% extends 'base.html' %}
{% from 'feedback.html' import render_feedback_form, render_my_feedback, render_rows_feedback %}

{% block content %}
<!-- <div class="title-area position-relative" style="background-image: url({# image #});">
    <div class="h-100 w-100 py-5 d-flex text-center position-absolute" style="background-color: rgba(0, 0, 0, 0.65);">
        <div class="m-auto">
            <h1 class="title mb-3 font-weight-bold">{# book.name #}</h1>
            <p class="mb-3 mx-auto">
                {# genres #} | <span>★</span> <span>{# "%.2f" | format(book.rating) #}</span>
            </p>
            <div class="container">
                <p class="description w-75 mb-5 mx-auto">
                    {# book.author #}
                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 block-img-show mb-2">
            <img src="{{ image }}" alt="{{ book.name }}">
        </div>
        <div class="col-md-8">
            <h1 class="title mb-3 font-weight-bold">{{ book.name }}</h1>
            <p class="description ms-0 mb-2">
                <b>Автор</b> {{ book.author }}
            </p>
            <p class="mb-2 mx-auto">
                <b>Жанры</b> {{ genres }}
            </p>
            <p class="mb-4 mx-auto">
            <h4><span>{{ "%.2f" | format(book.rating) }} ★ | {{ book.rating_num }} {% if book.rating_num == 1 %}отзыв{%
                    elif book.rating_num in [2, 3, 4] %}отзыва{% else %}отзывов{% endif %}</span></h4>
            </p>
            {% if collections != None %}
            <button data-url="{{ url_for('books.add_to_collection', book_id=book.id) }}"
                class="mb-5 text-center btn btn-dark" data-bs-toggle="modal"
                data-bs-target="#add-book-to-collection">Добавить эту книгу в свою подборку</button>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-5">
    <section class="about mb-5">
        <h3 class="mb-3 font-weight-bold">О книге</h3>
        <p>{{ book.short_desc | safe }}</p>
        <h3 class="mb-3 font-weight-bold">Подробная информация</h3>
        <p class="list-group-item mb-1"><b>Год:</b> {{ book.year }}</p>
        <p class="list-group-item mb-1"><b>Объем:</b> {{ book.vol_pages }}</p>
        <p class="list-group-item mb-1"><b>Издатель:</b> {{ book.publisher }}</p>

    </section>

    {% if current_user.is_authenticated %}
    {% if user_review %}
    <div class="mb-5">
        {{ render_my_feedback(user_review, current_user) }}
    </div>
    {% else %}
    <div class="mb-5">
        {{ render_feedback_form(book, current_user) }}
    </div>
    {% endif %}
    {% endif %}

    <!-- ОТЗЫВЫ -->

    <h2 class="mb-3 text-center text-uppercase font-weight-bold">Отзывы</h2>
    <div class="container d-flex w-50 justify-content-center flex-column">
        {{ render_rows_feedback(review) }}
    </div>
    <div class="text-center">
        <a href="{{ url_for('books.reviews', book_id=book.id) }}" class="mb-5 text-center btn btn-dark">Все отзывы по
            данной книге</a>
    </div>
    {% if collections != None %}
    <div class="modal fade" id="add-book-to-collection" tabindex="-1" aria-labelledby="add-to-collection-modal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-to-collection-modal">Добавить в подборку</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('books.add_to_collection', book_id=book.id) }}"
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="collection">Выберите свою подборку, в которую хотите добавить книгу:</label>
                            <select class="form-select" name="collection" id="collection">
                                {% for collection in collections %}
                                <option value="{{ collection.id }}">{{ collection.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input id="add-book-to-collection-btn" type="submit" class="d-none">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <label class="btn btn-success" for="add-book-to-collection-btn">Добавить</label>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}