{% extends 'base.html' %}
{% from 'books/clickable_book_card.html' import clickable_book_card %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
<div class="container">

    <h1>Список книг :</h1>

    <div class="row">
        {% for book in books %}
        <div class="card col-md-2 me-3 mb-3" style="width: 18rem;">
          {{ clickable_book_card(book, imgs, genres, loop) }}
        </div>
        {% endfor %}
    </div>
    
    <div class="mb-5">
      {{ render_pagination(pagination, request.endpoint, params) }}
    </div>

</div>
{% endblock %}